:root {
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Lato', sans-serif;
    --primary-blue: #1073BA;
    --secondary-green: #00DA55;
    --grey: #383B3B;
    --light-grey: #e1e1e1;
    --white: #ffffff;
    --black: #1F1E1E;
    --separacion: 5rem;
}

html {
    box-sizing: border-box;
    font-size: 62,5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
}

/* Globales */

.container {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--fuenteSecundaria);
    margin: calc(var(--separacion) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

/* Utilidades */

.text-center {
    text-align: center;
}

/* Degradados */

.degraded-green {
    color: transparent;
    background: linear-gradient(to right, var(--primary-blue) 0%, var(--secondary-green) 100%);
    -webkit-background-clip: text;
    background-clip: text;
}

/* Header */

.header {
    background-color: var(--black);
    padding: calc(var(--separacion) * 2) 0;
    color: var(--white);
}

@media (min-width: 1024px) {
    .header-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.text-header {
    text-align: center;
    padding-top: var(--separacion);
}

@media (min-width: 768px) {
    .text-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.text-header p {
    margin: 0;
}

.tagline-product {
    font-size: 3rem;
    font-weight: 900;
}

.product-name {
    font-size: 5rem;
    margin: 0;
}

@media (min-width: 768px) {
    .product-name {
        font-size: 8rem;
        margin: 0;
        line-height: 1;
    }
}

.price-product span {
    font-size: 6rem;
    font-weight: 900;
}

/* Iconos */

.icons {
    padding: var(--separacion) 0;
}

@media (min-width: 768px) {
    .icons {
        display: flex;
        gap: 2rem;
    }
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: calc(var(--separacion) / 2);
}

.icon:last-of-type {
    margin: 0;
}

@media (min-width: 768px) {
    .icon {
        margin: 0;
    }
}

.icon img {
    width: 5rem;
}

.icon h3 {
    color: var(--primary-blue);
    text-transform: uppercase;
    margin-top: calc(var(--separacion) / 2);
}

/* Sobre TechPRO */

.about-tech {
    background-image: linear-gradient(to bottom, transparent 50%, var(--primary-blue) 0%), url(../img/imagen-mujer.jpg);
    background-position: right;
    background-repeat: repeat, no-repeat;
    background-size: 100%, 110rem;
}

@media (min-width: 768px) {
    .about-tech {
        background-image: linear-gradient(to left, transparent 50%, var(--primary-blue) 0%), url(../img/imagen-mujer.jpg);
        background-repeat: repeat, no-repeat;
    }
}

.about-tech-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separacion);
}

@media (min-width: 768px) {
    .about-tech-grid {
        grid-template-rows: unset;
        row-gap: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
        padding: calc(var(--separacion) * 1.4) 0;
    }
}

.text-about-tech {
    grid-row: 2/3;
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding-bottom: var(--separacion);
}

@media (min-width: 768px) {
    .text-about-tech {
        padding-bottom: 0;
    }
}

.text-about-tech h2 {
    font-size: 4rem;
}

.text-about-tech p {
    font-size: 2rem;
    line-height: 2;
}